body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8f74fc;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: purple;
}
img {
    max-width: 100%;
    height: auto;
}
.buttons {
    margin-top: 20px;
}
.button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border: none;
}
.yes {
    background-color: #15cf3d;
    color: white;
}
.no {
    background-color: #cf2555;
    color: white;
}
